In [2]:
!pip install streamlit pandas numpy altair

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: streamlit in /home/aumirza/.local/lib/python3.10/site-packages (1.40.1)
Requirement already satisfied: pandas in /home/aumirza/.local/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy in /home/aumirza/.local/lib/python3.10/site-packages (2.0.0)
Requirement already satisfied: altair in /home/aumirza/.local/lib/python3.10/site-packages (5.4.1)
Requirement already satisfied: toml<2,>=0.10.1 in /home/aumirza/.local/lib/python3.10/site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in /home/aumirza/.local/lib/python3.10/site-packages (from streamlit) (4.12.2)
Requirement already satisfied: tenacity<10,>=8.1.0 in /home/aumirza/.local/lib/python3.10/site-packages (from streamlit) (9.0.0)
Requirement already satisfied: tornado<7,>=6.0.3 in /home/aumirza/.local/lib/python3.10/site-packages (from streamlit) (6.4.1)
Requirement already satisfied: rich<14,>=10.14.0 in /home/aumirza/.local/lib/python3.10/site-packages (from streamlit) (13.9.4)
Requirement already satisfied: protobuf<6,>=3.20 in /home/aumirza/.local/lib/python3.10/site-packages (from streamlit) (5.28.3)
Requirement already satisfied: blinker<2,>=1.0.0 in /usr/lib/python3/dist-packages (from streamlit) (1.4)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /home/aumirza/.local/lib/python3.10/site-packages (from streamlit) (0.9.1)
Requirement already satisfied: pyarrow>=7.0 in /home/aumirza/.local/lib/python3.10/site-packages (from streamlit) (18.0.0)
Requirement already satisfied: packaging<25,>=20 in /home/aumirza/.local/lib/python3.10/site-packages (from streamlit) (24.1)
Requirement already satisfied: cachetools<6,>=4.0 in /home/aumirza/.local/lib/python3.10/site-packages (from streamlit) (5.5.0)
Requirement already satisfied: watchdog<7,>=2.1.5 in /home/aumirza/.local/lib/python3.10/site-packages (from streamlit) (6.0.0)
Requirement already satisfied: pillow<12,>=7.1.0 in /home/aumirza/.local/lib/python3.10/site-packages (from streamlit) (11.0.0)
Requirement already satisfied: click<9,>=7.0 in /home/aumirza/.local/lib/python3.10/site-packages (from streamlit) (8.1.7)
Requirement already satisfied: requests<3,>=2.27 in /home/aumirza/.local/lib/python3.10/site-packages (from streamlit) (2.32.3)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /home/aumirza/.local/lib/python3.10/site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pytz>=2020.1 in /home/aumirza/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/aumirza/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/aumirza/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: jsonschema>=3.0 in /home/aumirza/.local/lib/python3.10/site-packages (from altair) (4.23.0)
Requirement already satisfied: narwhals>=1.5.2 in /home/aumirza/.local/lib/python3.10/site-packages (from altair) (1.13.5)
Requirement already satisfied: jinja2 in /home/aumirza/.local/lib/python3.10/site-packages (from altair) (3.1.4)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/aumirza/.local/lib/python3.10/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: referencing>=0.28.4 in /home/aumirza/.local/lib/python3.10/site-packages (from jsonschema>=3.0->altair) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /home/aumirza/.local/lib/python3.10/site-packages (from jsonschema>=3.0->altair) (0.19.0)
Requirement already satisfied: attrs>=22.2.0 in /home/aumirza/.local/lib/python3.10/site-packages (from jsonschema>=3.0->altair) (22.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /home/aumirza/.local/lib/python3.10/site-packages (from jsonschema>=3.0->altair) (2023.12.1)
Requirement already satisfied: MarkupSafe>=2.0 in /home/aumirza/.local/lib/python3.10/site-packages (from jinja2->altair) (2.1.5)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/aumirza/.local/lib/python3.10/site-packages (from requests<3,>=2.27->streamlit) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /home/aumirza/.local/lib/python3.10/site-packages (from requests<3,>=2.27->streamlit) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /home/aumirza/.local/lib/python3.10/site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/aumirza/.local/lib/python3.10/site-packages (from requests<3,>=2.27->streamlit) (2.1.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in /home/aumirza/.local/lib/python3.10/site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /home/aumirza/.local/lib/python3.10/site-packages (from rich<14,>=10.14.0->streamlit) (2.18.0)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/aumirza/.local/lib/python3.10/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: mdurl~=0.1 in /home/aumirza/.local/lib/python3.10/site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)

In [36]:
import pandas as pd
import streamlit as st
import numpy as np
import altair as alt
import json

In [4]:
census_file = "DDW_PCA0000_2011_Indiastatedist.xlsx"

In [5]:
df = pd.read_excel(census_file)

In [6]:
df.tail()

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
2023,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Rural,25475,...,119,30,21,9,1047,654,393,65311,23633,41678
2024,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Urban,724,...,1,0,0,0,70,43,27,1707,616,1091
2025,35,640,0,0,0,0,DISTRICT,South Andaman,Total,59064,...,63,48,24,24,1311,933,378,141311,49720,91591
2026,35,640,0,0,0,0,DISTRICT,South Andaman,Rural,23767,...,62,42,20,22,777,550,227,57596,19971,37625
2027,35,640,0,0,0,0,DISTRICT,South Andaman,Urban,35297,...,1,6,4,2,534,383,151,83715,29749,53966

In [7]:
df.columns.values

array(['State', 'District', 'Subdistt', 'Town/Village', 'Ward', 'EB',
       'Level', 'Name', 'TRU', 'No_HH', 'TOT_P', 'TOT_M', 'TOT_F', 'P_06',
       'M_06', 'F_06', 'P_SC', 'M_SC', 'F_SC', 'P_ST', 'M_ST', 'F_ST',
       'P_LIT', 'M_LIT', 'F_LIT', 'P_ILL', 'M_ILL', 'F_ILL', 'TOT_WORK_P',
       'TOT_WORK_M', 'TOT_WORK_F', 'MAINWORK_P', 'MAINWORK_M',
       'MAINWORK_F', 'MAIN_CL_P', 'MAIN_CL_M', 'MAIN_CL_F', 'MAIN_AL_P',
       'MAIN_AL_M', 'MAIN_AL_F', 'MAIN_HH_P', 'MAIN_HH_M', 'MAIN_HH_F',
       'MAIN_OT_P', 'MAIN_OT_M', 'MAIN_OT_F', 'MARGWORK_P', 'MARGWORK_M',
       'MARGWORK_F', 'MARG_CL_P', 'MARG_CL_M', 'MARG_CL_F', 'MARG_AL_P',
       'MARG_AL_M', 'MARG_AL_F', 'MARG_HH_P', 'MARG_HH_M', 'MARG_HH_F',
       'MARG_OT_P', 'MARG_OT_M', 'MARG_OT_F', 'MARGWORK_3_6_P',
       'MARGWORK_3_6_M', 'MARGWORK_3_6_F', 'MARG_CL_3_6_P',
       'MARG_CL_3_6_M', 'MARG_CL_3_6_F', 'MARG_AL_3_6_P', 'MARG_AL_3_6_M',
       'MARG_AL_3_6_F', 'MARG_HH_3_6_P', 'MARG_HH_3_6_M', 'MARG_HH_3_6_F',
       'MARG_OT_3_6_P', 'MARG_OT_3_6_M', 'MARG_OT_3_6_F',
       'MARGWORK_0_3_P', 'MARGWORK_0_3_M', 'MARGWORK_0_3_F',
       'MARG_CL_0_3_P', 'MARG_CL_0_3_M', 'MARG_CL_0_3_F', 'MARG_AL_0_3_P',
       'MARG_AL_0_3_M', 'MARG_AL_0_3_F', 'MARG_HH_0_3_P', 'MARG_HH_0_3_M',
       'MARG_HH_0_3_F', 'MARG_OT_0_3_P', 'MARG_OT_0_3_M', 'MARG_OT_0_3_F',
       'NON_WORK_P', 'NON_WORK_M', 'NON_WORK_F'], dtype=object)

In [8]:
states_df = df.loc[(df["Level"] == "STATE") & (df["TRU"] == "Total") ]

In [9]:
filtered_states_df = states_df[["State","Name","TOT_P","TOT_M","TOT_F"]]
filtered_states_df

      State                       Name      TOT_P      TOT_M     TOT_F
3         1            JAMMU & KASHMIR   12541302    6640662   5900640
72        2           HIMACHAL PRADESH    6864602    3481873   3382729
111       3                     PUNJAB   27743338   14639465  13103873
174       4                 CHANDIGARH    1055450     580663    474787
180       5                UTTARAKHAND   10086292    5137773   4948519
222       6                    HARYANA   25351462   13494734  11856728
288       7               NCT OF DELHI   16787941    8987326   7800615
318       8                  RAJASTHAN   68548437   35550997  32997440
420       9              UTTAR PRADESH  199812341  104480510  95331831
636      10                      BIHAR  104099452   54278157  49821295
753      11                     SIKKIM     610577     323070    287507
768      12          ARUNACHAL PRADESH    1383727     713912    669815
819      13                   NAGALAND    1978502    1024649    953853
855      14                    MANIPUR    2855794    1438586   1417208
885      15                    MIZORAM    1097206     555339    541867
912      16                    TRIPURA    3673917    1874376   1799541
927      17                  MEGHALAYA    2966889    1491832   1475057
951      18                      ASSAM   31205576   15939443  15266133
1035     19                WEST BENGAL   91276115   46809027  44467088
1095     20                  JHARKHAND   32988134   16930315  16057819
1170     21                     ODISHA   41974218   21212136  20762082
1263     22               CHHATTISGARH   25545198   12832895  12712303
1320     23             MADHYA PRADESH   72626809   37612306  35014503
1473     24                    GUJARAT   60439692   31491260  28948432
1554     25                DAMAN & DIU     243247     150301     92946
1563     26       DADRA & NAGAR HAVELI     343709     193760    149949
1569     27                MAHARASHTRA  112374333   58243056  54131277
1677     28             ANDHRA PRADESH   84580777   42442146  42138631
1749     29                  KARNATAKA   61095297   30966657  30128640
1842     30                        GOA    1458545     739140    719405
1851     31                LAKSHADWEEP      64473      33123     31350
1857     32                     KERALA   33406061   16027412  17378649
1902     33                 TAMIL NADU   72147030   36137975  36009055
2001     34                 PUDUCHERRY    1247953     612511    635442
2016     35  ANDAMAN & NICOBAR ISLANDS     380581     202871    177710

In [10]:
filtered_states_df[["State","Name"]]

      State                       Name
3         1            JAMMU & KASHMIR
72        2           HIMACHAL PRADESH
111       3                     PUNJAB
174       4                 CHANDIGARH
180       5                UTTARAKHAND
222       6                    HARYANA
288       7               NCT OF DELHI
318       8                  RAJASTHAN
420       9              UTTAR PRADESH
636      10                      BIHAR
753      11                     SIKKIM
768      12          ARUNACHAL PRADESH
819      13                   NAGALAND
855      14                    MANIPUR
885      15                    MIZORAM
912      16                    TRIPURA
927      17                  MEGHALAYA
951      18                      ASSAM
1035     19                WEST BENGAL
1095     20                  JHARKHAND
1170     21                     ODISHA
1263     22               CHHATTISGARH
1320     23             MADHYA PRADESH
1473     24                    GUJARAT
1554     25                DAMAN & DIU
1563     26       DADRA & NAGAR HAVELI
1569     27                MAHARASHTRA
1677     28             ANDHRA PRADESH
1749     29                  KARNATAKA
1842     30                        GOA
1851     31                LAKSHADWEEP
1857     32                     KERALA
1902     33                 TAMIL NADU
2001     34                 PUDUCHERRY
2016     35  ANDAMAN & NICOBAR ISLANDS

In [11]:
states_name_and_code_file = "Indian_States_TIN_Codes.xlsx"

In [12]:
state_name_code_df = pd.read_excel(states_name_and_code_file)
state_name_code_df.sort_values(by="TIN Code")

                   State Name  TIN Code 2-Letter Code
0             JAMMU & KASHMIR         1           J&K
1            Himachal Pradesh         2            HP
2                      Punjab         3            PB
3                  CHANDIGARH         4            CG
4                 Uttarakhand         5            UT
5                     Haryana         6            HR
6                       DELHI         7            DL
7                   Rajasthan         8            RJ
8               Uttar Pradesh         9            UP
9                       Bihar        10            BR
10                     Sikkim        11            SK
11          Arunachal Pradesh        12            AR
12                   Nagaland        13            NL
13                    Manipur        14            MN
14                    Mizoram        15            MZ
15                    Tripura        16            TR
16                  Meghalaya        17            ML
17                      Assam        18            AS
18                West Bengal        19            WB
19                  Jharkhand        20            JH
20                     Odisha        21            OD
21               Chhattisgarh        22            CT
22             Madhya Pradesh        23            MP
23                    Gujarat        24            GJ
24                DAMAN & DIU        25            DD
25       DADRA & NAGAR HAVELI        26            DH
26                Maharashtra        27            MH
27             Andhra Pradesh        28            AP
28                  Karnataka        29            KA
29                        Goa        30            GA
30                LAKSHADWEEP        31            LD
31                     Kerala        32            KL
32                 Tamil Nadu        33            TN
33                 PUDUCHERRY        34            PY
34  ANDAMAN & NICOBAR ISLANDS        35            AN
35                  Telangana        36            TS

In [13]:
merged_column = filtered_states_df.merge(right=state_name_code_df[["TIN Code","2-Letter Code"]], left_on="State",right_on="TIN Code")
merged_column.drop(columns=["State"])

,Name,TOT_P,TOT_M,TOT_F,TIN Code,2-Letter Code
0,JAMMU & KASHMIR,12541302,6640662,5900640,1,J&K
1,HIMACHAL PRADESH,6864602,3481873,3382729,2,HP
2,PUNJAB,27743338,14639465,13103873,3,PB
3,CHANDIGARH,1055450,580663,474787,4,CG
4,UTTARAKHAND,10086292,5137773,4948519,5,UT
5,HARYANA,25351462,13494734,11856728,6,HR
6,NCT OF DELHI,16787941,8987326,7800615,7,DL
7,RAJASTHAN,68548437,35550997,32997440,8,RJ
8,UTTAR PRADESH,199812341,104480510,95331831,9,UP
9,BIHAR,104099452,54278157,49821295,10,BR
10,SIKKIM,610577,323070,287507,11,SK
11,ARUNACHAL PRADESH,1383727,713912,669815,12,AR
12,NAGALAND,1978502,1024649,953853,13,NL
13,MANIPUR,2855794,1438586,1417208,14,MN
14,MIZORAM,1097206,555339,541867,15,MZ
15,TRIPURA,3673917,1874376,1799541,16,TR
16,MEGHALAYA,2966889,1491832,1475057,17,ML
17,ASSAM,31205576,15939443,15266133,18,AS
18,WEST BENGAL,91276115,46809027,44467088,19,WB
19,JHARKHAND,32988134,16930315,16057819,20,JH
20,ODISHA,41974218,21212136,20762082,21,OD
21,CHHATTISGARH,25545198,12832895,12712303,22,CT
22,MADHYA PRADESH,72626809,37612306,35014503,23,MP
23,GUJARAT,60439692,31491260,28948432,24,GJ
24,DAMAN & DIU,243247,150301,92946,25,DD
25,DADRA & NAGAR HAVELI,343709,193760,149949,26,DH
26,MAHARASHTRA,112374333,58243056,54131277,27,MH
27,ANDHRA PRADESH,84580777,42442146,42138631,28,AP
28,KARNATAKA,61095297,30966657,30128640,29,KA
29,GOA,1458545,739140,719405,30,GA
30,LAKSHADWEEP,64473,33123,31350,31,LD
31,KERALA,33406061,16027412,17378649,32,KL
32,TAMIL NADU,72147030,36137975,36009055,33,TN
33,PUDUCHERRY,1247953,612511,635442,34,PY
34,ANDAMAN & NICOBAR ISLANDS,380581,202871,177710,35,AN

In [34]:
india_topo_json_file_name = "india.json"

In [51]:
topo_data = alt.topo_feature(india_topo_json_file_name,"states")

In [53]:
lookup_data = alt.LookupData(merged_column,'State',['TOT_P'])

In [59]:
alt.Chart(topo_data).mark_geoshape().encode(
    color='Properties.st_code:Q'
).transform_lookup(
    lookup='id',
    from_=lookup_data
).properties(
    width=500,
    height=300
).project(type='mercator')

alt.Chart(...)